# scripts
alias canonical='${HOME}/.zsh/python/get_canonical.py'
alias decimal='${HOME}/.zsh/python/get_decimal.py'

# javascript
alias update-node-lts='nvm install "lts/*" --reinstall-packages-from="$(nvm current)"'
alias update-node='nvm install node --reinstall-packages-from=node'
alias update-npm='npm install -g npm@latest'

# python
alias vact='source .venv/bin/activate'
alias python=python3
alias ipython='uv run --with ipython ipython'

# cursor
alias cursor="${HOME}/Applications/Cursor-0.49.6-x86_64_92907bf3c7e486ace04f6ec539bc1ebd.AppImage --no-sandbox > /dev/null 2>&1"

# shortcuts
alias bat=batcat

# linux to mac
alias pbcopy='xclip -selection clipboard'
alias pbpaste='xclip -selection clipboard -o'

# bioinformatics
alias pymol='~/miniconda/envs/pymol-env/bin/pymol'

# docker desktop
alias ddtop='systemctl --user start docker-desktop'

# general
alias chrome='google chrome'
